#wrapBg{
    width: 343px;
    height: 480px;
    background-image: url('../img/bg.jpg');/*./代表当前目录下的*/
    margin: 0 auto;/*在x轴方向居中*/
    /* margin-top: 100px; */
    position: relative;/*相对于本身一开始处于浏览器中的位置定位*/
    top: 100px;/*必须在这种相对定位之下才能用*/
    overflow: hidden;/*超出者隐藏*/
}
#headTitle{
    width: 236px;
    height: 77px;
    background-image: url(../img/head.jpg);
    position: absolute;
    left: 53px;
    top: 100px;
}
#headBird{
    float: right;
    margin-top: 25px;
}
#startBtn{
    width: 85px;
    height: 29px;
    margin: 0;
    padding: 0;
    background-image: url(../img/start.jpg);
    position: absolute;
    left: 129px;
    top: 250px;
}
#grassLand1{
    width: 343px;
    height: 14px;
    background-image: url(../img/banner.jpg);
    position: absolute;
    top: 423px;
}
#grassLand2{
    width: 343px;
    height: 14px;
    background-image: url(../img/banner.jpg);
    position: absolute;
    top: 423px;
    left: 343px;
    /* display: none; */
    
}